.todo-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.task {
    background-color: #4585F5;
    width: 45%;
    text-align: left;
    margin: 4px 0;
    padding-left: 8px;
}

.task.completed {
    background-color: #4CAE51;
    text-decoration: line-through;
}



form {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

form>input {
    padding: 6px;
    font-size: 2rem;
    width: 240px;
    outline: 0;
    border: 1px solid #4585F5;
    border-radius: 15px;
    margin-right: 8px;
}

button {
    background-color: #4585F5;
    border: 1px solid #4585F5;
    color: white;
    font-size: 16px;
    padding: 6px 14px;
    border-radius: 15px;
}

input::placeholder {
    color: #4585F5;
    opacity: 0.4;
    padding: 5px;
}

.clear-btn {
    margin-top: 16px;
}