@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    background-image: url("./img/math-83287-unsplash.jpg");
    /* replace # with url */
    background-repeat: no-repeat;
    /* instructs the CSS compiler to not repeat the image (by default, images will repeat */
    background-position: center;
    /* centers the image within the element */
    background-size: cover;
    /* The image will cover the entire background of the element, all while keeping the image in proportion.  */
}


h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.App {
    font-family: sans-serif;
    text-align: center;
    padding: 0 36px;
    max-width: 665px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 2.5rem
}


i {
    padding: 5px
}

footer {
    position: absolute;
    top: 10px;
    left: 90%;
}

a {
    text-decoration: none;
    color: white
}


@media only screen and (max-width: 600px) {


    body {

        background-size: auto;
    }

}